extends ../../templates/default

block vars
  -var title = 'How to generate a git change log'
  -var description = 'A quick tip on how to genearte a git change log from your commit history'

block content
  h1 Generate a Changelog
  a(href="https://csswizardry.com/2017/05/little-things-i-like-to-do-with-git/#generate-a-changelog") Source
  p
    pre.prettyprint.
      git log --oneline --no-merges {{last tag}}..HEAD

block scripts
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
