extends ../../templates/default

block vars
  -var title = 'Fred\'s ImageMagick Scripts'
  -var description = 'An impressive collection of ImageMagick scripts'

block content
  h1 Fred's ImageMagick Scripts
  
  p A huge list of impressive image manipulation scripts. From 3d wraps to blurs and color differentiaions. All from the CLI.
    hr
    i
      a(href="http://www.fmwconcepts.com/imagemagick/index.php") Fred's ImageMagick Scripts