---
Date: 2020-08-18T11:21:11.497Z
title: The Great Dictator
---
h1 The Final Speech from The Great Dictator

p There's been an add for coffee that has been running during 
  | the morning news that has caught my attention. It's compelling, 
  | and speeks to the core of what I think our true nature is.
  
p The incredibly uplifting speech can be found 
 
 a(href="https://www.charliechaplin.com/en/articles/29-the-final-speech-from-the-great-dictator-#:~:text=We%20think%20too%20much%20and,than%20machinery%20we%20need%20humanity.&text=The%20misery%20that%20is%20now,the%20way%20of%20human%20progress.") here
 