---
Date: 2020-03-14T12:14:40.471Z
title: Consultant or Prostitute?
---
h1 Consultant or Prostitute?

p I orignially found this
  a(href="http://www.lifeisajoke.com/worknleisure9_html.htm") here 
  | , but the link died, so I'm posting it here. 
p  I stumbled upon this again today when cleaning up bookmarks, 
  | and it's starting to feel a bit too real at this moment in my life.

ul
    li
      | You work very odd hours. 
    li
      | You are paid a lot of money to keep your client 
      | happy. 
    li
      | You are paid well but your pimp gets most of the 
      | money. 
    li
      | You spend a majority of your time in a hotel room. 
    li
      | You charge by the hour but your time can be extended 
      | for the right price. 
    li
      | You are not proud of what you do. 
    li
      | Creating fantasies for your clients is rewarded. 
    li
      | It's difficult to have a family. 
    li
      | You have no job satisfaction. 
    li
      | If a client beats you up, the pimp just sends you 
      | to another client. 
    li
      | You are embarrassed to tell people what you do 
      | for a living. 
      | · People ask you what you do and you can't explain it. 
    li
      | Your family hardly recognizes you at reunions (at 
      | least the reunions you attend). 
    li
      | Your friends have distanced themselves from you 
      | and you're left hanging with only other professionals. 
    li
      | Your client pays for your hotel room plus your 
      | hourly rate. 
    li
      | Your client always wants to know how much you charge 
      | and what they get for the money. 
    li
      | Your pimp drives nice cars like Mercedes or BMWs. 
    li
      | Your pimp encourages drinking and you become addicted 
      | to drugs to ease the pain of it all. 
    li
      | You know the pimp is charging more than you are 
      | worth but if the client is foolish enough to pay it's not 
      | your problem. 
    li
      | When you leave to go see a client, you look great, 
      | but return looking like hell (compare your appearance on 
      | Monday A.M. to Friday P.M.). 
    li
      | You are rated on your performance in an excruciating 
      | ordeal. 
    li
      | Even though you get paid the big bucks, it's the 
      | client who walks away smiling. 
    li
      | The client always thinks your cut of your billing 
      | rate is higher than it actually is, and in turn, expects 
      | miracles from you. 
    li
      | When you deduct your take from your billing rate, 
      | you constantly wonder if you could get a better deal with 
      | another pimp. 
    li
      | Everyday you wake up and tell yourself you're not
      | going to be doing this stuff for the rest of your life.
