---
Date: 2020-01-06T22:02:14.506Z
title: Svelte & Sapper are amazing
---
h1 Svelte is now powering this site!

p I took the plunge and converted my custom webpack site into a sapper based one.
    | I couldn't be more impressed with the integration, performace, and the tool itself.

p I started out this site with Drupal 5, and hopped on the static site generator band wagon early. 
  | Having your content be plain text markdown really does make it easy to move your hosting around.
  | This is my 4th cms migration and it's really been a dream. I'm not sure I could go back to a DB managed cms.

