---
Date: 2021-02-22T14:44:24.278Z
title: Voila& Jupyter at AOE
---
h1 Voila

p Just wanted to mark this milestone of contributing to a project I use a lot at the Vermont agency of Education

p Contributed to Voila: 
  a(href="https://github.com/voila-dashboards/voila/pull/834") Pull Request