---
Date: 2025-03-01T23:12:00.000Z
title: Moved my site generator to eleventy
---
h1 Today I Moved my site generator to eleventy

p It took a bit of work to get it going, 
  | but it was much easier to wrap my head around compared to upgrading sapper to svelte-kit.
  
  
