extends ../../templates/default

block vars
  -var title = 'Today I ...'
  -var description = 'I hope to write here daily about something I\'ve done, learned, read, etc. We\'ll see how this goes....'

block content
  h1 Today I Learned
  .row
    .col-md-8.col-md-offset-2
      ul.list-group
        h3.list-group-item.text-center 2016
        a.list-group-item(href='/TIL/2017-03-21-complex-decision-making/index.html') Make Complex Decision Making Easy
        a.list-group-item(href='/TIL/2016-10-11-node-pre-gyp/index.html') Forcing builds on node-pre-gyp
        a.list-group-item(href='/TIL/2016-10-8-first/index.html') First
