extends ../../templates/default

block vars
  -var title = ''
  -var description = '!'

block content
  h1.h-entry 
  p.small Published by 
    a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
    |  on&nbsp;


  p.p-summary
  p.e-content
