extends ../../templates/default

block vars
  -var title = ''
  -var description = '!'

block content
  h1.h-entry 
  p.small Published by 
    a.p-author.h-card(href='http://jamesjnadeau') James J Nadeau
    | on 
    time.dt-published(datetime='2018-03-26') 2018-03-26


  p.p-summary
  p.e-content
