---
title: Curated
description: A list of articles I\'ve tagged in some way
---

block content
  h1.no-animation Curated
  hr.space
  h5.text-center Here's the latest articles I've tagged in feedly.
  hr.space
  .row
    .col-md-4.offset-md-4
      ul.list-group.text-center
        a.list-group-item(href="/curated/awesome") Awesome
        a.list-group-item(href="/curated/dev") Dev
        a.list-group-item(href="/curated/laugh") Laugh
        a.list-group-item(href="/curated/learn") Learn
        a.list-group-item(href="/curated/walter") Cute Things
  
