---
date: 2020-09-22T01:21:15.528Z
title: Read About the Problem with America
---
h1 We need more empathy

p  There's a lot of strange things happening in 2020. I came across this and put it here so you could read it.

p
  a(href="https://www.huffpost.com/entry/i-dont-know-how-to-explain-to-you-that-you-should_b_59519811e4b0f078efd98440") I Don’t Know How To Explain To You That You Should Care About Other People

p Society can't function with our ability to pay it forward. The Human race won't survive eaither