---
date: 2020-01-06T14:41:21.270Z
title: ' Svelte/Sapper is my new goto static site generator'
---
h1 Sapper & Svelte are now powering this site!

p I took the plunge and converted my custom webpack site into a sapper based one.
    | I couldn't be more impressed with the integration, performace, and the tool itself.
    
p There was some upfront setup that involved setting up routes to match my sites old setup.
    |  The code required was not much different than what I had set up for my webpack static site, and it transfered easily to Sapper.
    
    
