---
date: 2020-03-14T13:45:26.587Z
title: This site has been statically hosted since 2014
---
h1 Statically Generated Since 2014
p.lead Here's a screenshot of the first iteration of my website.
img.img-fluid(src="/uploads/my_site_jquery_mobile_ui_era.png")
hr
p I've been hosting my site now on a statically generated site since 2014, and it's been a fantastic journey.
  |  I'm on my thrid platform that generates the site.
  |  The amount of choice and flexibility offered by just using flat files is hard to beat.
  |  I imagine I'd still be stuck on whatever DB driving app I had choosen, those migrations are hard to wrap your head around. 
  
  
h3 Previous Platforms
ol
  li 
    h4 Previous to 2014 - Drupal 5 & 
      a(href="https://jquerymobile.com/") jQuery Mobile
    p I had used Drupal as a CMS for clients for a long time and it became out  of date quickly.
      a(href="https://web.archive.org/web/20130608075611/http://jamesjnadeau.com/") Take a look!
    p  I decided a redesign was in order. I switched to Bootstrap 3(4 was just an idea at this time) and went on the hunt for something that could be hosted as a static site for almost nothing. 
    p Why?
  li
    h4 
       a(href="http://picocms.org/" rel="noopener") Pico CMS
    p
        a(href="https://github.com/jamesjnadeau/jamesjnadeau.com/commit/121270598625d8d14708c7219d30c08cb769f8c5") 
          | My first commit 
        |  to the repository was my first draft of my site. 
        | I was writing php solutions for the HVAC industry in PHP at the time and was very comfortable with it. PHP 5 was the latest and greatest at the time.
        | The twig template language was easy for me to adapt the bootstrap template site too, and off I ran.
    p I created a php script to export my nodes from drupal, but ultimately didn't use much of the content from before.
  li
    h4 
       a(href="https://github.com/jamesjnadeau/static-site-loader" rel="noopener") Webpack Static Site Loader
    p
        | I was working with webpack v1 and wanted to make my own loader so I could work on static sties and have the content automatically reload.
        | I threw this together and it wokred just how I wanted. It was customizable to my needs and I've been able to reuse it in several projects
