---
layout: blog
date: 2020-01-06T22:02:14.506Z
title: Svelte & Sapper are amazing
---
h1 Svelte is now powring this site!

p I took the plunge and converted my custom webpack site into a sapper based one.
    | I couldn't be more impressed with the integration, performace, and the tool itself.
    | 

