---
date: 2021-02-22T14:44:24.278Z
title: Voila& Jupyter at AOE
---
h1 Voila

p something something automation is good.

p Contributed to Voila: 
  a(href="https://github.com/voila-dashboards/voila/pull/834") Pull Request