---
date: 2021-07-05T10:00:45.308Z
title: Complaining and Hurt
---
h1 Why Am I Being Hurt?

p I found this artical fascinating because it talks about the mechanisms and emotional reasons we complain.
  | One of my fathers sayings that I've always kept with me was:

blockqoute.blockquote
   small There are two reasons why people comlain:
     ol
       li They want you to listen.
       li They want you to do something about it.

p It's something I've encountered in my life in many ways, and having just lived through my first son's 4th year, during Covid, I found it very relateable. 
  |  It made me rethink that time in my life and the things I remember. Brings up that feeling of growth through making mistakes, which feels bad at first, but enlightening when you've realized how you change.
  |
  
  p
    a(href="https://thepointmag.com/examined-life/why-am-i-being-hurt/") Why am I being hurt?