---
date: 2022-03-22T12:31:03.101Z
title: Why is it so hard to buy things that work
---
h1 Why is it so hard to buy things that work

p This article to me speaks to why you should build yourself rather than buy. 

p It's certianly well written and thought through. 

a(href="https://danluu.com/nothing-works/") https://danluu.com/nothing-works/