---
date: 2023-09-07T15:49:36.096Z
title: Empathy and Compassion are Evolved States of Being
---
p I found this on reddit and have returned to a few times when I loose faith in hummanity. 

a(href="https://www.reddit.com/r/MadeMeSmile/comments/14l0mqj/gov_jb_pritzker_empathy_and_compassion_are/") Gov. JB Pritzker - "Empathy and compassion are evolved states of being."