---
date: 2023-09-08T20:38:19.467Z
title: "How large IT platforms die: enshitification"
---
p Came across this in my travels on the web and it summarizes the current trajectories 
  | of the company formally known as twitter
  
a(href="https://pluralistic.net/2023/01/21/potemkin-ai/#hey-guys") Pluralistic: Tiktok's enshittification