---
title: James J Nadeau | Senior Systems Engineer
eleventyNavigation:
  key: Home
---

  
h1 Senior Systems Engineer
div
  img.img-fluid.img-rounded(style='margin-bottom: 5px;' src='/files/tree_line.jpg' alt='Clouds above a the tops of trees in a forest.')
.content.d-flex.flex-column
  .card.card-default.my-3
    .card-body.p-note
      p
        | Hi,
        br
        br
        |               Thanks for coming! My name is James, and I live in&nbsp;
        a(href='https://maps.google.com/maps?q=Weybridge,+VT') Vermont.
        |               &nbsp;A long time ago, I attended&nbsp;
        a(href='http://www.rpi.edu/' rel='nofollow') RPI
        |               &nbsp;to study Computer Science and Systems Engineering. I&apos;ve been
        |               up to a&nbsp;
        a(href='/projects/') lot
        |               &nbsp;since then. Through the use of systems I&apos;ve created, I&apos;ve
        |               helped thousands of businesses, big and small, grow and create happy
        |               customers. How can I help you?
      p
        | I am an open source loving, full stack developer and system
        | designer. I&apos;ve designed, architected, and built applications for
        | both desktop and mobile. Ranging from video trancoding for the
        | automobile footage industry, business and content management systems
        | for the non-profit to the fashion industry, and even website systems
        | for plumbers. My varied experince is an asset that brings helpful
        | insights to tough situations. I can help you tackle your technical
        | problems, because I probably have before.
      p
        | I excel at cleaning up other peoples messes, and hitting deadlines.
        | Third party security tests have been unable to get past the security
        | practices I use, time and time again. If you need it on time,
        | scalable, and secure, I can come through for you.
  .card.card-default.my-3
    .card-header()
      h4.card-title.text-center.m-0(data-toggle='collapse' href='#more_about_me')
        | More About Me
    #more_about_me.card-collapse
      .card-body
        p
          | I love Vermont, and am proud to call this state my home. I enjoy
          | football, not for the names, but for the strategy and teamwork
          | required to win. I am currently a high school football referee in
          | Vermont. The pay isn&apos;t great, but it&apos;s a great excuse to drive
          | around VT in the fall and watch some football.
        p
          | Sailing is also one of my hobbies.
          del
            | I own a small sunfish sailboat, but am hoping to upgrade soon to
            | something with a cabin.
          |                   I now own a Pearsons 23K, and I&apos;ve been loving it! Lake champlain
          |                   is a hop, skip and a jump away, and all that it has to explore has
          |                   never let me down.
        p
          | The product of a ski bum mother, I enjoy hitting the slopes in the
          | winter when the weather allows. Admittedly, I&apos;m a little spoiled
          | from my upbringing and haven&apos;t gone much in the past couple of
          | years.
        p
          | I&apos;ve owned a computer since the ripe age of 4. A Macintosh SE as a
          | matter of fact. My mother was/is a graphic artist, and it was
          | bought for her. I think we can both agree I got more out of it. I
          | didn&apos;t really discover linux until I was about 15 and began
          | throwing it on every old piece of hardware I could muster.
        p
          | I met the love of my life online and married Sally in June 2015.
          | Our dog Walter helps me do my job every day. My first son Tyson
          | just turned two in October!
  .card.card-default.my-3
    .card-header()
      h4.card-title.text-center.m-0(data-toggle='collapse' href='#more_about_this_site')
        | More About This Site
    #more_about_this_site.card-collapse
      .card-body
        p
          | This site was recently(Feb 2025) converted to a eleventy based satic website, still hosted on netlify.
        p 
          | Previously, Sapper/Svelte was used to generate a static site hosted on netlify.
        p
          | Before that, this site was built using webpack along with a custom loader I
          | created called&nbsp;
          a(href='https://www.npmjs.com/package/static-site-loader')
            | static-site-loader
          |                   . I&apos;m able to write both markdown and regular jade template files
          |                   and have them be loaded/refreshed by webpack upon change.
        p
          | You can view the code for this site
          a(href='https://github.com/jamesjnadeau/jamesjnadeau.com')
            | here
          | .
