extends ../../templates/default

block vars
  -var title = 'Projects I\'ve worked on | James J Nadeau '
  -var description = 'A list of various projects I\'ve had the pleasure to work on.'

block content
  h1 Projects I've Worked on
  div
    .row
      .col-md-6
        ul.list-group.p-2
          h3.list-group-item Examples/Misc/HackVT
          a.list-group-item(href='/projects/speak_and_spell') Speak and Spell in your Browser
          a.list-group-item(target='_blank', href='http://lnconsulting.com/') LN Consulting
          a.list-group-item(href='/projects/example_jquery_mobile_app') Cordova Example App
          a.list-group-item(target='_blank', href='http://jamesjnadeau.com/wind/') My Wind Map
          a.list-group-item(target='_blank', href='https://chrome.google.com/webstore/detail/gremlinjs-testing-extensi/eamcocddjlpbghfbicddnloonlclafic') Gremlin.js Extension
          a.list-group-item(target='_blank', href='https://chrome.google.com/webstore/detail/gifshot-extension/dkdgkjlikbgmkdmckmmahjmjffafleae') Gifshot Extension
          a.list-group-item(target='_blank', href='https://chrome.google.com/webstore/detail/chrome-sniffer-updated-by/fbnlibmhkkkpncdgfolnijebgnmbdbhi') Updates to Chrome Sniffer
          a.list-group-item(href='/projects/vermontlegislation.org') VermontLegislation.org
          a.list-group-item(href='/projects/explorevermontfood.com') ExploreVermontFood.com
        ul.list-group.p-2
          h3.list-group-item National Gardening Association
          a.list-group-item(href='/projects/garden.org') Garden.org
          a.list-group-item(href='/projects/kidsgardening.org') KidsGardening.org
        ul.list-group.p-2
          h3.list-group-item Wheels TV
          a.list-group-item(href='/projects/ffmpeg_crawler') ffmpeg Crawler and Transcoder
          a.list-group-item(href='/projects/vseo_tool') Video SEO tool
      .col-md-6
        ul.list-group.p-2
          h3.list-group-item Clevertech
          a.list-group-item(href='/projects/lookbooks') Lookbooks
          a.list-group-item(href='/projects/cleverhire') CleverHire
          a.list-group-item(href='/projects/clevermap') CleverMap
          a.list-group-item(href='/projects/jobpath') JobPath
          a.list-group-item(href='/projects/gigofund') GI Go Fund
        ul.list-group.p-2
          h3.list-group-item Bosch, Fujitsu, Aerco
          a.list-group-item(href='bosch') Boschwaytogrow.com
          a.list-group-item(href='fujitsu') Fujitsu Dealer Toolbox
          // <a class="list-group-item" href="#" rel="no-follow" >Eternal Waterheater</a>
          a.list-group-item(target='_blank', href='http://www.aercosmartsizing.com', rel='no-follow') Aerco Smart Sizing
        ul.list-group.p-2
          h3.list-group-item MBJ Consulting
          a.list-group-item(href='/projects/verisightplan.com') Verisight Proposal Managment Tool
        ul.list-group.p-2
          h3.list-group-item Red Barn Media Group
          a.list-group-item(href='/projects/mypointnow') Mobile Applications: Roam, Venture
          a.list-group-item(target='_blank', href='/graph/index.html') Data Visualizations
          a.list-group-item(href='/projects/simplesaml') SAML
          a.list-group-item(href='/projects/secureCRM') Secure CRM system for HVAC Manufacturers
          a.list-group-item(href='#') Multisite Drupal Hosting System
          a.list-group-item(href='#') Multi-user Support Ticket
