extends ../../templates/impress

block vars
  -var title = 'James J Nadeau | Demo Presentation'
  -var description = 'A demo presntation using impress.js'

block content
  //- see https://impress.js.org/#/bored
  //- style="position: absolute; transform-origin: left top; transition: all 1000ms ease-in-out 500ms; transform-style: preserve-3d; top: 50%; left: 50%; perspective: 1073.38px; transform: scale(0.931641);"
  #impress()
    .step(data-rel-x=(.765 * space) data-rel-z=-(.586 * space) data-rotate-y=0)
      h1 Step One
      p Nothing wrong with washing your brush. If there's two big trees invariably sooner or later there's gonna be a little tree. Just let these leaves jump off the brush Son of a gun.
    .step(data-rel-x=(.765 * space) data-rel-z=-(.586 * space) data-rotate-y=45)
      h1 Step Two
      p I sincerely wish for you every possible joy life could bring. You have to make those little noises or it won't work. Don't fiddle with it all day. Talent is a pursued interest. That is to say, anything you practice you can do.
    .step(data-rel-x=(.765 * space) data-rel-z=-(.586 * space) data-rotate-y=90)
      h1 Step Three
      p All you have to learn here is how to have fun. It just happens - whether or not you worried about it or tried to plan it. That easy. I want everbody to be happy. That's what it's all about. This painting comes right out of your heart.
    .step(data-rel-x=(.765 * space) data-rel-z=-(.586 * space) data-rotate-y=135)
      h1 Step Four
      p Let's make a nice big leafy tree. See there, told you that would be easy. Don't fight it, use what happens. This is where you take out all your hostilities and frustrations. It's better than kicking the puppy dog around and all that so. Absolutely no pressure. You are just a whisper floating across a mountain.
    .step(data-rel-x=(.765 * space) data-rel-z=-(.586 * space) data-rotate-y=180)
      h1 Step Five
      p We want to use a lot pressure while using no pressure at all. We'll paint one happy little tree right here. You can work and carry-on and put lots of little happy things in here. Painting should do one thing. It should put happiness in your heart. We spend so much of our life looking - but never seeing.
    //- .step(data-rel-x=(.765 * space) data-rel-z=(.586 * space) data-rotate-y=225)
      h1 Step Six
      p Just make little strokes like that. We wash our brush with odorless thinner. This is your world. Let the paint work.
      .step(data-rel-x=(.765 * space) data-rel-z=(.586 * space) data-rotate-y=270)
        h1 Step Seven
        p Now let's put some happy little clouds in here. God gave you this gift of imagination. Use it. We'll put a happy little bush here. There we go. Now we don't want him to get lonely, so we'll give him a little friend.
      .step(data-rel-x=(.765 * space) data-rel-z=(.586 * space) data-rotate-y=315)
        h1 Step Eight
        p Play with the angles. Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. Nothing wrong with washing your brush. You have freedom here. The only guide is your heart.
    
    
        
