extends ../../templates/default

block vars
  -var title = 'James J Nadeau | Presentations'
  -var description = 'Here are some presentation decks I\'ve used in the past.'

block content
  .row
    .col-md-6
      ul.list-group.p-2
        h3.list-group-item Demo's
        a.list-group-item(href='/presentations/demo/' target="_blank") Copy of the impress.js demo
        a.list-group-item(href='/presentations/simple/' target="_blank") A simple example
