---
title: James J Nadeau | Presentations
description: Here are some presentation decks I\'ve used in the past.
layout: layouts/main.pug
---

h1 Presentations / Slides
.card.text-center.p-3
  p.lead A collection of presentations I've made using 
    a(href="https://github.com/impress/impress.js/" rel="noopener") impress.js
.row.justify-content-center
  .col-md-6
    ul.list-group.p-2
      h3.list-group-item Demo's
      //- a.list-group-item(href='/presentations/demo/' target="_blank") Copy of the impress.js demo
      a.list-group-item(href='/presentations/simple' target="_blank") A simple example
      a.list-group-item(href='/presentations/timeline' target="_blank") A timeline example(not done)
      a.list-group-item(href='/presentations/circle' target="_blank") A circle example(not done)
    
    ul.list-group.p2 
      h3.list-group-item C2 - Comptetitive Computing
      a.list-group-item(href='/presentations/static-site-netlify' target="_blank") Static Site & Netlify
      a.list-group-item(href='/presentations/containers' target="_blank") Containers

    ul.list-group.p-2
      h3.list-group-item Vermont Agency of Education
      a.list-group-item(href='/presentations/aoe-edfi-year-2' target="_blank") Ed-Fi at VT Fest v2
      a.list-group-item(href='/presentations/aoe-edfi-year-1' target="_blank") Ed-Fi at VT Fest
      a.list-group-item(href='/presentations/aoe-edfi-rfp' target="_blank") Ed-Fi RFP
      a.list-group-item(href='/presentations/aoe-dmat-year-1' target="_blank") AOE Year 1
      a.list-group-item(href='/presentations/aoe-edfi-field' target="_blank") EdFi Presentation to Field Partners
      a.list-group-item(href='/presentations/aoe-and-ads-build-an-app' target="_blank") AOE, ADS & an Apps
      a.list-group-item(href='/presentations/aoe-laptop' target="_blank") Laptop
      a.list-group-item(href='/presentations/aoe-dmat' target="_blank") AOE & DMAT
      a.list-group-item(href='/presentations/aoe-jupyter' target="_blank") AOE & Jupyter
    
    

