---
title: James J Nadeau | Presentations
description: Here are some presentation decks I\'ve used in the past.
---

h1 Presentations / Slides
.card.text-center.p-3
  p.lead A collection of presentations I've made using 
    a(href="https://github.com/impress/impress.js/" rel="noopener") impress.js
.row.justify-content-center
  .col-md-6
    ul.list-group.p-2
      h3.list-group-item Demo's
      //- a.list-group-item(href='/presentations/demo/' target="_blank") Copy of the impress.js demo
      a.list-group-item(href='/presentations/simple.html' target="_blank") A simple example
      a.list-group-item(href='/presentations/timeline.html' target="_blank") A timeline example(not done)
      a.list-group-item(href='/presentations/circle.html' target="_blank") A circle example(not done)
    
    ul.list-group.p2 
      h3.list-group-item C2 - Comptetitive Computing
      a.list-group-item(href='/presentations/static-site-netlify.html' target="_blank") Static Site & Netlify
      a.list-group-item(href='/presentations/containers.html' target="_blank") Containers

    ul.list-group.p-2
      h3.list-group-item Vermont Agency of Education
      a.list-group-item(href='/presentations/aoe-edfi-field.html' target="_blank") EdFi Presentation to Field Partners
      a.list-group-item(href='/presentations/aoe-and-ads-build-an-app.html' target="_blank") AOE, ADS & an Apps
      a.list-group-item(href='/presentations/aoe-laptop.html' target="_blank") Laptop
      a.list-group-item(href='/presentations/aoe-dmat.html' target="_blank") AOE & DMAT
      a.list-group-item(href='/presentations/aoe-jupyter.html' target="_blank") AOE & Jupyter
    
    

